<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="style.css">
    <title>GEAR LOG</title>
  </head>
  <body>
    <header>
      <div class="heading">
      <%=link_to 'GEAR LOG', root_path, class:"title" %>
      </div>
      <div class="navbar">
          <ul class="nav-lists">
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
      </div>
       <% end %>
    </header>

<div class="contents">

<div class="user-contents">
    <ul class='item-lists'>
        <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id) do %>
        <div class='item-img-content'>
          <%= image_tag post.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= post.item_name %>
          </h3>
          <div class='etc'>
            <span><%= post.etc %></span>
          </div>
          <div class='item-price'>
            <span><%= post.price %>円<br></span>
          </div>
          <div class='recommend-rating'>
            <div class="star">
            <% if post.recommend_rating? %>
        <% for i in 1..post.recommend_rating do %>
          ★
        <% end %>
    </div>
      <% end %>
    </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
</div>
</div>




        <footer>
      <p>Copyright(C) Gear Log ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>