<!DOCTYPE HTML>
<html>
      <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/assets/style.css">
    <title>GEAR LOG</title>
  </head>
  <body>
    <header>
      <div class="heading">
      <%=link_to 'GEAR LOG', root_path, class:"title" %>
      </div>
      <div class="navbar">
          <ul class="nav-lists">
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
      </div>
       <% end %>
    </header>
        <%# ログイン時のエラーメッセージ  %>
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <%= form_with model: @user, url: new_user_session_path, class: 'login-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報入力
    </h1>
  </div>
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"" %>
  </div>
  <div class='login-btn'>
    <%= f.submit "ログイン" ,class:"login-red-btn" %>
  </div>
</div>
<% end %>

<footer class="items-sell-footer">

    <footer>
      <p>Copyright(C) Gear Log ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>