<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/assets/style.css">
    <title>GEAR LOG</title>
  </head>
  <body>
    <header>
      <div class="heading">
      <%=link_to 'GEAR LOG', root_path, class:"title" %>
      </div>
      <div class="navbar">
          <ul class="nav-lists">
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
      </div>
       <% end %>
    </header>

 <div class="contents">
      <div class="first-view">
       <%= image_tag "DSC05862 2.JPG", class:"top-image" %>
       <%= image_tag "434B9327-4030-4869-A098-42624319B9B7.jpg", class:"top-image" %>
       <%= image_tag "2021-Q4_BLOG-DFTW-DeYoung_3200x.webp", class:"top-image" %>
       <%= image_tag "2022_04_hometop_01_01.jpeg", class:"top-image" %>
      </div>
         <div class='search-bar-contents'>

      <%= search_form_for Post.ransack(params[:q]), url: search_posts_path, html: {class: "search-form"} do |f| %>
      <%= f.text_field :item_name, placeholder: '商品名から探す', class: 'search-box-top' %>
      <%= f.label :submit, class: "search-button" do %>
        <input type="submit" value="検索" class="search-button">
        <%= f.submit :submit, id: "q_submit", style: "display: none;"%>
      <% end %>
    <% end %>
   
       <h3><%= link_to '詳細検索', search_posts_path, class:"search-link"%></h3>
 </div>
      <div class="upper-content">
        <h2 class="heading-name">新規投稿</h2>
        <ul class="messages">
          <li class="message">
           
            
          </li>
        </ul>
     <ul class='item-lists'>
        <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id) do %>
        <div class='item-img-content'>
          <%= image_tag post.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= post.item_name %>
          </h3>
          <div class='etc'>
            <span><%= post.etc %></span>
          </div>
          <div class='item-price'>
            <span><%= post.price %>円<br></span>
          </div>
          <div class='recommend-rating'>
                <div class="star">
            <% if post.recommend_rating? %>
            <% for i in 1..post.recommend_rating do %>
             ★
            <% end %>
            </div>
            <% end %>
           </div>
         </div>
        <% end %>
      </li>
      <% end %>
    </ul>
    </div>


<%= link_to(new_post_path, class: 'purchase-btn') do %>
 
  <%= image_tag 'icon_000680_256.png', size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
    <footer>
      <p>Copyright(C) Gear Log ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>