<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/assets/style.css">
    <title>GEAR LOG</title>
  </head>
  <body>
  <div class="wrap">
    <header>
      <div class="heading">
      <%=link_to 'GEAR LOG', root_path, class:"title" %>
       
      </div>
      <div class="navbar">
          <ul class="nav-lists">
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
      </div>
       <% end %>
    </header>
  <%# /商品の概要 %>
<div class="search-contents">

 <div class='middle-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_posts_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :item_name, '商品名' %>
      <br>
      <%= f.text_field :item_name, placeholder: '商品名', value: params[:q]&.dig(:name) %>
    </div>
    <div class="search-field">
      <%= f.label :user_nickname_cont, '投稿者名' %>
      <br>
      <%= f.text_field :user_nickname_cont, placeholder: '投稿者名' %>
    </div>   
        <div class="search-field">
      <%= f.label :category_id_eq, 'カテゴリ' %>
      <br>
      <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: "---"}) %>
    </div>
      <div class="search-field">
      <%= f.label :brand_id_eq, 'ブランド' %>
      <br>
      <%= f.collection_select(:brand_id_eq, Brand.all, :id, :name, {include_blank: "---"}) %>
    </div>
        <div class="search-field">
      <%= f.label :price_gteq, '価格'%>
      <br>
      <%= f.number_field :price_gteq %> 円以上
      <br>
      <%= f.number_field :price_lteq %> 円以下
    </div>
     <%= f.submit '検索', class: "search-btn"%>
  <% end %>
     <ul class='search-item-lists'>
        <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id) do %>
        <div class='item-img-content'>
          <%= image_tag post.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= post.item_name %>
          </h3>
          <div class='etc'>
            <span><%= post.etc %></span>
          </div>
          <div class='item-price'>
            <span><%= post.price %>円<br></span>
          </div>
          <div class='recommend-rating'>
                <div class="star">
            <% if post.recommend_rating? %>
        <% for i in 1..post.recommend_rating do %>
          ★
        <% end %>
    </div>
      <% end %>
    </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
 </div>
</div>
    <footer>
      <p>Copyright(C) Gear Log ALL RIGHTS RESERVED.</p>
    </footer>
    </div>
  </body>
</html>

